pre-commit
ruff
pytest
torch==2.1.2
torchvision==0.16.2
einops
tqdm
scipy
torch_geometric
matplotlib
diffusers
accelerate
tensorboard
ptflops
torchmetrics
torch-fidelity
transformers
accelerate
Pillow
tqdm
numpy
absl-py